@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,600;0,700;0,800;0,900;1,800&display=swap');


body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif !important;
}


.personal_details_parent {
  display: flex;
}
.Personal_Information div.MuiPaper-rounded {
  padding: 0 20px;
}
/* .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-5 {
  margin-left: 27px;
} */
.css-16awh2u-MuiAutocomplete-root {
  width: 274px;
}
.css-1s2u09g-control {
  height: 65%;
}




