body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.personal_details_parent {
  display: flex;
}
.Personal_Information div.MuiPaper-rounded {
  padding: 0 20px;
}
/* .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-5 {
  margin-left: 27px;
} */
.css-16awh2u-MuiAutocomplete-root {
  width: 274px;
}
